@font-face {
  font-family: 'MetropolisBold';
  src: local('MetropolisBold'), url("../fonts/Metropolis_Font_family/Metropolis-Bold.otf") format('truetype');
}

@font-face {
  font-family: 'MetropolisExtraLight';
  src: local('MetropolisExtraLight'), url("../fonts/Metropolis_Font_family/Metropolis-Thin.otf") format('truetype');
}
@font-face {
  font-family: 'MetropolisSemiBold';
  src: local('MetropolisSemiBold'), url("../fonts/Metropolis_Font_family/Metropolis-SemiBold.otf") format('truetype');
}
@font-face {
  font-family: 'MetropolisLight';
  src: local('MetropolisLight'), url("../fonts/Metropolis_Font_family/Metropolis-Light.otf") format('truetype');
}

.side_bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .side_bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .side_bar a:hover {
    color: #f1f1f1;
  }
  .openbtn, .closebtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    position: fixed;
  }

.close{
   display: none;
}
.style{
    margin-left: 3rem;
}
.style1{
margin-left: -.5rem;
}
  .openbtn:hover {
    background-color: #444;
  }

  #BodyContent {
    transition: margin-left .5s;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .empty-card{
    margin: .1px auto;
    min-width: 2rem;
    max-width: 60rem;
    border-radius: .4rem;
    padding: 5rem 0rem;
  }
  .empty-card .p1{
    font-size: 1.5rem;
  }
  .empty-card .p2{
    font-size: 1rem;
  }

  @media screen and (max-width: 700px) {
    .empty-card{
      padding: 4rem 2rem;
    }
    .empty-card .p1{
      font-size: 1.3rem;
    }
    .empty-card .p2{
      font-size: .9rem;
    }
  
  }

  #BodyContent{
    color: #0d3360;
    padding-top: 7rem;
  }
  .m404{
    background-image: linear-gradient(to bottom right, rgb(35, 175, 203) 5%, rgb(14, 20, 47) 95%);
    background-clip: text;
    color: transparent;
    font-family: MetropolisBold;
    font-size: 8rem;
    height: 10rem;
    padding-top: 5rem;
  }

  .err{
    font-family: MetropolisSemiBold;
    font-size: 1.3rem;
    padding-left: 1rem;
  }
  .copy{
    font-family: MetropolisBold;
    font-size: 1rem;
    padding-top: 3rem;
  }
  .message{
    font-family: MetropolisExtraLight;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .button > button{
    background-image: linear-gradient(to bottom right, rgb(35, 175, 203) 5%, rgb(14, 20, 47) 95%);
    color: white;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-style: bold;
    font-weight: 550;
    padding: .6rem 1.5rem;
    border-radius: 3rem;
    text-decoration: none;
    font-family: MetropolisExtraLight;
}

  .button > button:hover{
    background-image: linear-gradient(to bottom right, rgb(14, 20, 47) 5%, rgb(35, 175, 203) 95%);
  }