
.modal-body-body ul a li:hover{
    background-color: gray;
    color: white;
}
.modal-body-body ul a{
    color: gray;
}
.modal-body-body ul{
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: -3rem;
    margin-right: -1rem;
    font-size: 15px;
}
.card-image-container{
    margin:0rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: .4rem;
    min-height: 17rem;
    background-image: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0a0b1f;
}
.card-image-container2{
    background-image: url("./log.png");
}
.select-card_image:hover{
    opacity: 70%;
}
.structure-card-container{
    margin: .5rem 1.5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.select-card_image{
     width: cover;
     height: 17rem;
     object-fit: cover;
     border-radius: .3rem;
}

@media screen and (max-width: 990px){
    .structure-card-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 0rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 500px){
    .structure-card-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 0rem;
        padding: 0rem;
    }
}


