@font-face {
    font-family: 'MetropolisBold';
    src: local('MetropolisBold'), url("../../fonts/Metropolis_Font_family/Metropolis-Bold.otf") format('truetype');
  }
  
  @font-face {
    font-family: 'MetropolisExtraLight';
    src: local('MetropolisExtraLight'), url("../../fonts/Metropolis_Font_family/Metropolis-Thin.otf") format('truetype');
  }
  @font-face {
    font-family: 'MetropolisSemiBold';
    src: local('MetropolisSemiBold'), url("../../fonts/Metropolis_Font_family/Metropolis-SemiBold.otf") format('truetype');
  }
  @font-face {
    font-family: 'MetropolisLight';
    src: local('MetropolisLight'), url("../../fonts/Metropolis_Font_family/Metropolis-Light.otf") format('truetype');
  }

.list{
    color: white;
    font-weight: bold;
}

.list:hover{
    padding-left: 10px;
    color: #4ab2cc;
}
.test1{
    color: gray;
    font-weight: 500;
}

.nav-icons{
    margin-right: .6rem;
}

.test:hover{
    color:#4ab2cc;
}

@media screen and (min-width: 992px){
    .logout{
        display: inline-block;
        margin-right: 20%;
        margin-left: 40%;
    }
}
aside.sidebar ul.menu li{
    font-size: 1rem;
}

aside.sidebar ul.menu li{
    font-size: 1.5rem;
}
header.topbar div.header-right-info ul.nav li.nav-item a span.admin-name, header.topbar div.header-right-info ul.nav li.nav-item a i{
    font-size: 1rem;
}
header.topbar div.header-right-info ul.nav li.nav-item a i{
    margin-left: -.1rem;
}
header.topbar div.header-right-info ul.nav li.nav-item a span.admin-name, .change_language{
    font-family: MetropolisSemiBold;
}
.change_language{
    font-weight: bold;
    font-size: .8rem;
    margin-right: -1.8rem;
    margin-left: .1rem;
    margin-top: .7rem;
    border: none;
    outline: none;
}

.change_language option{
    color: gray;
    height: 5rem;
}


header.topbar div.header-right-info ul.nav li.nav-item a img{
    width:2.5rem;
}

.usersidehover li:hover, .usersidehover li:focus, .usersidehover li.Link:hover{
    background: #0b426a;
    color:#ffffff;
    font-weight: 550;
}