*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.card_module{
     font-size: .8rem;
     font-weight: 600;
     color: #979796;
     margin-top: -.6rem;
}

.card_title{
     font-size: 1.2rem;
     font-style: bold;
     font-weight: 600;
     padding-top: .5rem;
     color: #36474f;
}


.time, .score{
    display: flex;
}



.time_passed, .rating{
     font-size: .7rem;
     font-style: bold;
     font-weight: 500;
    
}

.time_passed, .rating{
  padding-left: .5rem; 
}

.module_units_button p{
     font-style: bold;
     font-size: 12px;
     font-weight: 700;

}
.module_units_button {
     display: flex;
     color: #75a8da;
}

.card_image{
    width: cover;
    height: 11rem;
    object-fit: cover;
}

.wrapper{
    margin: 5rem 0rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

@media screen and (max-width: 872px){
    .wrapper{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         margin: 5rem 1.2rem;
    }
}

@media screen and (max-width: 580px){
    .wrapper{
        grid-template-columns: repeat(1, 1fr);
        margin: 5rem 3rem;
    }

    .card{
        min-width: 15rem;
    }
}


.card_body{
    margin: 1.5rem 2rem;
}

.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px;
    border-radius: .4rem;
    min-width: 10rem;
    display: flex;

}




.card_info{
    display: block;
    color: #979796;
}

.time, .score{

    display: flex;
}
.time_passed, .rating{
     font-size: .7rem;
font-style: bold;
     font-weight: 500;
}


.time_passed, .rating{
  padding-left: .5rem; 
}

.module_units_button p{
     font-style: bold;
     font-size: large;
     font-weight: 700;
}
.module_units_button {
     display: flex;
     color: #75a8da;
}

.card_image{
    width: cover;
    height: 12rem;
    object-fit: cover;
}


/*--------------------------------------- download card on resources page -------------*/

.pdf_wrapper{
    margin: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}


@media screen and (max-width: 767px){
    .pdf_wrapper{
        grid-template-columns: repeat(1, 1fr);
    }

    .type_text{
         margin-top: 1rem;
   }

     .type{
         height: 1rem;
     }
}

.pdf_card_image{
    width: cover;
    height: 14rem;
    object-fit: cover;
}

.pdf_card_info{
    display: flex;
    margin-top: 1.3rem;
    padding-left: .7rem;
}

.title_text{
     font-size: 1.5rem;
     font-style: bold;
     font-weight: 600;
}

.pdf_card_title{
     background-color: rgb(209, 213, 216);
     color: rgb(163, 167, 170);;
     border: none;
     height: 3rem;
     min-width: 7.5rem;
     border-radius: 2rem;
     text-align:center;
     font-weight: 600;
     padding: .4rem;
     margin: 2rem .5rem 0rem .5rem;
}


@media screen and (max-width: 1222px){
    .pdf_card_title{
         margin: 1rem .5rem 0rem .5rem;
   }

   .title_text{
    font-size: 1.1rem;
}
}
@media screen and (max-width: 774px){
    .pdf_card_title{
         margin: .8rem .5rem 0rem .5rem;
   }

   .title_text{
    font-size: 1.1rem;
   }
   .title{
       justify-content: space-between;
    }
}
@media screen and (max-width: 767px){
    .pdf_card_title{
         margin: 0rem 1rem 0rem 10rem;
   }
   .title_text{
    font-size: 1.5rem;
   }
}
@media screen and (max-width: 630px){
    .pdf_card_title{
         margin: 0rem 1rem 0rem .5rem;
   }
   .title_text{
    font-size: 1.5rem;
   }
}

@media screen and (max-width: 478px){
    .pdf_card_title{
         margin: 0rem 1rem 0rem .5rem;
   }
   .title_text{
    font-size: 1.3rem;
   }
}

@media screen and (max-width: 451px){
    .pdf_card_title{
         margin: 1rem 1rem 0rem .5rem;
   }
}
@media screen and (max-width: 397px){
    .pdf_card_title{
         margin: 1rem 1rem 0rem .5rem;
   }
   .title_text{
         font-size: 1.1rem;
   }
}

.type_text{
     width: fit-content;
     font-weight: 600;
     padding: .4rem;
}

.pdf_text{
    margin-top: 1.4rem;
     font-size: 1rem;
     padding-left: .7rem;
     margin-bottom: 3.3rem;
}

.pdf_btn{
    background: #f4b51a;
     color: white;
     border: none;
     height: 2.5rem;
     width: 10rem;
     border-radius: 2rem;
     text-shadow: .1rem;
     font-weight: 900;
     margin-bottom: 1rem;
}

@media screen and (min-width: 1500px){
    .type{
        height: 3.4rem;
    }
}


@media screen and (max-width: 587px){
    .type{
        margin-left: 1.5rem;
        border-radius: 6rem;
        width: 20rem;
    }
}


/*--------------------------------- Units ------------------------------------*/



/*--------------------------------- profile content ------------------------------------*/
.profile_card{
    box-shadow: none;
    border: none;
    margin: 5rem 0rem;
}



.profile_title{
    color: #36474f;
    font-style: bold;
    font-size: 1.5rem;
    font-weight: 900;
}


.profile_delete_btn{
   background: #f4777c;
   color: white;
   border: none;
   height: 2.5rem;
   width: 10rem;
   border-radius: 2rem;
   text-shadow: .1rem;
   font-weight: 900;
   margin-bottom: 2rem;
}

.form_lable{
     font-style: bold;
     font-weight: 600;
     color: #808181;
     font-size: 1rem;
}

.form_validation_text{
    font-size: .9rem;
    font-style: italic;
    font-weight: 600;
    color: #bcc2c8;
}

.profile_validate_btn{
    background: #f4b51a;
    color: white;
    border: none;
    height: 2.5rem;
    width: 8rem;
    border-radius: 2rem;
    text-shadow: .1rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

@media screen and (max-width: 471px){
   .profile_title_responsive{
       font-size: 1.2rem;
   }

   .profile_delete_btn{
       font-size: .7rem;
       width: 8rem;
   }
}

@media screen and (min-width: 1104px){
    .attestation_card{
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

.Home_navigation{
    margin-bottom: -3rem;
    margin-top: 2rem;
}

.Home_navigation p{
    font-weight: 500;
    font-style: bold;
    font-size: 1.3rem;
}

.profile_navigation p .home:hover{
    cursor: pointer;
    font-style: underline;
}



/*--------------------------------- attestation content ------------------------------------*/

/*--------------------------------- footer content ------------------------------------*/

.footer{
    font-size: large;
}
.footer .Mentions:hover{
   cursor: pointer;
}


/*--------------------------- Headings ----------------------------*/

.heading{
    font-size: xx-large;
    font-style: bold;
    font-weight: 500;
}


/*---------------------------------------- LegalNotice ---------------------------*/



/* .legalnotice_wrapper{

} */

.legalnotice_card{
        padding: 0rem 5rem;

}

.Legalmoticepage{
     background-image: url('../public/images/bg_anssi.jpg');
     margin: 0;
}




/*////////////////////////////////////////// UNITS DASHBOARD ////////////////////////////////////////////*/

/*----------------------------- units dashboard header -------------------------------*/
    .Unit-Dashboard-wrapper{
         margin: 1.4rem -2rem;
         justify-content: center;
    }
    /* .Header_Section{
        margin-left: -3000px;
        background: #000;
    } */
    .Unit-header-card{
        min-width: 20rem;
    }

    
    

    .header-link{
         background-color: #f0f0f0;
         min-height: 2.5rem;
         text-align: center;
    }
    
    .header-text-section{
         min-height: 13rem;
         background-color: white;
         padding-top: .8rem;
    }

    .hamburger-manu{
         margin-left: 1.5rem;
         padding-top: 20rem;
         margin-bottom: 5rem;
    }

    .header-title-divider-line-section{
        padding-left: 15%;
    }

    @media screen and (max-width: 166px){
        .header-title-divider-line-section{
            padding-left: 1.5rem;
        }
     }

     .header-title{
         padding-top: 1.6rem;
         font-size: 2.3rem;
         font-weight: 900;
         line-height: 2.5rem;
     }

     .divider-line{
         height: .3rem;
         width: 9.5rem;
         background-color: #36474f;
         margin-top: 2.7rem;

     }

/*----------------------------- units dashboard footer -------------------------------*/

.units-dashboard-footer-wrapper{
     margin-left: -2rem; 
     justify-content: center;
     min-width: 10rem;
}

.Unit-footer-card{
    background-color: white;
    height: 10rem;
    min-width: 20rem;
    padding: 0% -5%;
}

.unit-dashboard-footer-button{
     border: 2px solid black;
     background-color: white;
     color: black;
     padding: 2% 4%;
     font-size: 16px;
     cursor: pointer;
     width: 47%;
     margin-top: 2.5rem;
     height: 4rem;
}

/* @media screen and (max-width: 749px){
    .success{
          min-width: 10rem;
    }
 } */

.success {
    border-color: #04AA6D;
    color: green;
    min-width: 10rem;
  }

  /* .second-footer{
    background-color:rgba(0, 0, 0, 0.3);
    height: 3rem;
    color: white;
    border: none;
    margin-top: 2rem;
    font-style: bold;
    font-weight: 500;
} */

.Unit-second-footer-card{
    height: 10rem;
    /* margin-bottom: -1.6rem; */
}


  /*----------------------------- units video card -------------------------------*/



  /*----------------------------- Technologies page -------------------------------*/

.units-dashboard-image-wrapper{
     margin-left: -1rem;
     margin-right: -2rem;
}

.unites_card_image{
     min-width: 10rem;
     box-shadow: none;
     min-height: 65%;
     
}

.card_images{
    min-height: 15rem;
    max-height: 20rem;
}

.unit_card_images{
    min-height: 10rem;
}

.unites_divider_line{
    margin-left: -3rem;
    margin-top: -1.3rem;
    height: 3px;
    background-color: black;
    max-width: 12rem;
}

/*----------------------------- Carousel -------------------------------*/

.carousel_card{
    margin-top: 1.7rem;
    border-radius: .4rem;
    min-width: 10rem;
    margin: 3% 5% 10% 5%;
    max-width: 40rem;
    margin-left:auto;
    margin-right:auto;
    margin: 3% 5% 10%;
}

/* .to-page-number{
    height: 3.1rem;
    background: blue;
    width: 3rem;
    text-align: center;
    color: white;
    font-style: bold;
    font-weight: 900;
    font-size: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: .5rem;
    padding-top: -20rem;
} */


.carousel_card_body{
    background: gray;
    height: 8rem;
    margin-top: 1rem;
  
}

.carousel_card_image{
    margin-top: 4rem;
    max-width: 70rem;
    height: 20rem;
}

.carousel-wrapper{
    justify-content: center;
    
}

.carousel-text{
    display: block;
}
.carousel_card p{
    font-style: bold;
    font-size: 1rem;
    line-height: 1.5rem;
}




